<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link href="/static/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="card">
    <div class="card-body">
        <h3 class="card-title">图书列表</h3>
        <div class="card-text">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>书名</th>
                <th>价格</th>
                <th>是否有货</th>
                <th>出版时间</th>
            </tr>
            </thead>
            <tbody>
            {foreach $books as $book}
            <tr>
                <td>{$book.id}</td>
                <td>{$book.name}</td>
                <td>{$book.price}</td>
                {if $book.status}
                <td>有货</td>
                {else/}
                <td>无货</td>
                {/if}
                <td>{$book.publish_time}</td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        </div>
    </div>
</div>
</body>
</html>