<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-course">
			<dt><i class="Hui-iconfont">&#xe616;</i> 课程管理 <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{:url('Course/index')}" title="课程管理">课程管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-resource">
			<dt><i class="Hui-iconfont">&#xe620;</i> 资源管理 <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{:url('resource/index')}" title="资源管理">资源管理</a></li>
				</ul>
			</dd>
		</dl>
		
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 注册会员<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{:url('Index/member_list')}" title="会员列表">会员列表</a></li>
				</ul>
			</dd>
		</dl>		
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>