<div class="footer">
    <div class="ma clearfix">
        <a href="{:url('Index/index')}" class="footer-logo"><img src="/static/index/images/bottom-logo.png"></a>
        <div class="followUs clearfix">
            <dl>
                <dt><img src="/static/index/images/code_mrkj.jpg" width="100" height="100"></dt>
                <dd>关注微信公众号<br> 收获精彩内容</dd>
            </dl>
            <dl>
                <dt><img src="/static/index/images/app_mrkj.png" width="105" height="105"></dt>
                <dd>扫一扫下载<br> 明日APP程序</dd>
            </dl>
            <dl>
                <dt><img src="/static/index/images/code_news.jpg" width="100" height="100"></dt>
                <dd>明日最新资讯<br> 一网打尽</dd>
            </dl>									
        </div>
        <ul class="contacUs">
            <li>客服热线：400 675 1066</li>
            <li>反馈邮箱：123456@qq.com</li>
            <li>技术支持：吉林省明日科技有限公司</li>
            <li>公司地址：长春市硅谷大街1198号</li>
        </ul>				
    </div>
</div>
<p class="cop">Copyright ©2007-2019,  mingrisoft.com, All Rights Reserved 版权所有 未经许可 请勿转载</p>