{include file="/public/_meta,/public/_header,/public/_menu"}

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont"></i> 首页 
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
	<div class="Hui-article">
		<article class="cl pd-20" style="text-align:center;">
			<p class="f-20 text-success">欢迎登录 编程e学网 后台管理系统</p>
			<p>上次登录时间：{$info.lastlogintime}</p>
			<p>上次登录IP：{$info.lastloginip}</p>	
         </article>
		<footer class="footer">
			<p>Copyright &copy;2019  mingrisoft.com  All Rights Reserved. <br> 本系统由 <a href="http://www.mingrisoft.com" target="_blank" title="吉林省明日科技有限公司"> 吉林省明日科技有限公司 </a> 提供技术支持</p>
        </footer>
     </div>
</section>

{include file="/public/_footer"}

</body>
</html>